:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  
}

.page-header {
  height: 72px;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 

}

.header-container {
  background-color: #ffffff;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  border-bottom: 1px solid var(--cornflower);
}
.nav-page {
  display: flex;
  align-items: center;
}

.link-logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.nav-item {
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--animation); 
}

.nav-item:hover,
.nav-item:focus {
  color: var(--ocean)
}

.nav-link.current {
  position:relative;
  color: var(--ocean); 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
} 

.nav-link.current::after {
  content: "";
  position: absolute;
  background-color: var(--ocean);
  width: 100%;
  border-radius: 2px;
  height: 4px;
  bottom: -1px;
  left: 0;
}

.menu-nav {
  transition: color var(--animation);
}

.menu-nav:hover,
.menu-nav:focus,
.menu-nav:active {
  color: var(--ocean);
}

.nav-link {
  padding: 24px 0;
}

.contacts {
  color: var(--slate);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-name {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-name:hover,
.contacts-name:focus,
.contacts-name:active {
  color: #404bbf;
}


.page-main {
}

.section-hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: 
  linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
  url(../images/hero.jpg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  width: 100%;
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-order-button {
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color var(--animation);
}

.hero-order-button:hover,
.hero-order-button:focus,
.hero-order-button:active {
  background-color: var(--ocean);
}

.section-features {
  padding: 120px 0;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1128px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.features-item {
  width: calc((100%-72px) / 3);
}

.feature-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}

.features-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-container {
  margin: 0 auto;
  background-color: var(--cloud);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  overflow: hidden;
}

.team-img {
  width: 264px;
  height: 260px;
}

.team-wrap {
  padding: 32px 0;
}

.team-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-wrap-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-link-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--ocean);
}

.team-socials-icon {
  fill: var(--cloud);
  width: 16px;
  height: 16px;
}

.section-portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-container {
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--navy-blue);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

  .overlay-wraper {
  position: relative;
  overflow: hidden;
}
  .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-text {
  color: var(--slate)
}

.portfolio-img {
  width: 360px;
  height: 300px;
}
.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
  
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--navy-blue)
}

.page-footer {
  padding: 100px 0 100px;
  background-color: #2e2f42;
}

.footer-wrap {
display: flex;
align-items: baseline;
}

.footer-container {
  display: block;
  margin-left: 156px;
  margin-right: 120px;
}

.link-logo-footer {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 16px;

}

.logo-light {
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-wrap-socials {
  display: block;
}

.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-list-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-socials-link-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--green);
}

.footer-socials-icon {
  fill: var(--cloud);
}



/* ackdrop
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */